nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px;
  background-color: darkgrey;
  color: whitesmoke;
}

.nav-brand {
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Align items vertically */
}

.nav-links a {
  padding: 0 10px;
}

.sign-button {
  background-color: red;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.sign-button:hover {
  background-color: white;
  color: black;
}

body {
  background-color: lightgrey;
  display: grid;
  grid-template-areas:
    "nav"
    "side"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
}

.social-proof {
  grid-area: side;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.social-proof img {
  width: 40px;
  height: 40px;
}

.proposition {
  text-align: center;
  grid-area: main;
  padding: 20px;
  margin: auto;
  max-width: 500px;
}

.proposition p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.join-button {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

.join-button:hover {
  background-color: white;
  color: black;
}

footer {
  text-align: center;
  grid-area: footer;
  padding: 20px;
  background-color: lightgrey;
}

.back-to-top {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: white;
  color: black;
}
